.banner {
    width: 100%;
    background-color: $rose-quartz;
    p {
        font-size: clamp(0.375rem, 2.5vw, 1.2rem);
        text-align: center;
        margin: 15px auto;
    }
}

.container {
    text-align: center;
    margin: 50px auto;
}

.header-text {
    h1 {
        width: 576px;
        margin: 0 auto;
        font-size: clamp(1.125rem, 2.5vw, 3rem);
        text-transform: uppercase;
        color: $white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }
    p {
        font-size: clamp(0.688rem , 2.5vw, 1.875rem);
        font-weight: $bold;
        color: $white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        margin: 10px 0;
    }
}

/* Result */

.result {
    width: 620px;
    padding: 15px;
    margin: 50px auto;
    background-color: $gray;
    border-radius: 20px;
    border: 3px solid $black;
    h3 {
        font-size: clamp(0.875rem, 2.5vw, 2.188rem);
        margin-bottom: 0;
    }
}