* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-yellow;
    font-size: 16px;
    border-top: 25px solid $serenity;
    border-bottom: 25px solid $serenity;
    border-left: 25px solid $rose-quartz;
    border-right: 25px solid $rose-quartz;
    height: 100vh;
}

h1, h2 {
    font-family: $big-font;
    margin-bottom: 0;
}

h3, p, button {
    font-family: $small-font;
    margin-bottom: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}