.players-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;

    h2 {
        color: $white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        text-shadow: 0 5px hsla(0, 0%, 0%, 0.25);
    }
}

/* CARAT Card */

// .card-rename-flex {
//     display: flex;
//     flex-direction: row-reverse;
//     align-items: center;
//     gap: 30px;
// }

.rename-btn {
    width: 30px;
    border: none;
    border-right: 3px solid $black;
    background-image: url("../images/pen-to-square-solid.svg");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: all 0.5s ease-in;
    padding: 0 30px;
}

.carat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    background-color: $rose-quartz;
    border-radius: 15px;
    border: 5px solid $black;
    box-shadow: 10px 10px hsla(0, 0%, 0%, 0.25);
}

.card-content {
    width: 258px;
    padding: 25px;
    /* generated dashed border */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='10' stroke-dasharray='3%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    background-color: $white;
}

.card-name {
    // font-size: clamp(0.5rem , 2.5vw, 1.2rem);
    font-size: clamp(0.5rem , 2.5vw, 1rem);
    background-color: $serenity;
    text-transform: uppercase;
    border: 3px solid $black;
    border-radius: 10px;
    padding: 2px;
}

.carat-img {
    width: 62px;
    border-radius: 50%;
    border: 3px solid $black;
    margin: 10px auto;
}

.play-info {
    display: flex;
    flex-direction: column;
    background-color: $gray;
    border-radius: 20px;
    border: 3px solid $black;
    // box-shadow: inset 0 -5px hsla(0, 0%, 0%, 0.25);
}

.player-name {
    font-family: $small-font;
    font-size: clamp(0.5rem , 2.5vw, 1rem);
    text-transform: uppercase;
    background-color: $serenity;
    border-radius: 15px 15px 0 0;
    border-bottom: 3px solid $black;
    padding: 3px;
}

.rename {
    border-radius: 0 0 0 15px;
    width: 30px;
    border: none;
    border-right: 3px solid $black;
    background-image: url("../images/pen-to-square-solid.svg");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0 30px;
}

.monitoring {
    display: flex;
    flex-direction: row;
}

.scoreboard {
    width: 100%;
    margin: 0 auto;
    .score-heading {
        padding-bottom: 2px;
        border-bottom: 3px solid $black;
    }
    .score-count {
        border-radius: 0 0 20px 0;
        background-color: white;
        padding: 10px 0;
        font-size: clamp(0.9rem, 2.5vw, 1.5rem);
    }
}

.unclicked-btn {
    box-shadow: inset 0 -5px hsl(0deg 0% 0% / 25%);
    border-radius: 0 0 0 15px;
}

.clicked-btn {
    box-shadow: inset -5px 5px hsla(0, 0%, 0%, 0.25);
}

/* SEVENTEEN Card */

// Flex svt card and reload button

// .card-reload-flex {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     gap: 30px;
// }

// Reload button attributes

.reload {
    width: 63px;
    border-right: 3px solid $black;
}

.reload-btn {
    height: 100%;
    border: none;
    background-image: url("../images/arrows-rotate-solid.svg");
    background-color: transparent;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px;
    margin: 0 auto;
}

// To add using JavaScript

.reload-btn-animation {
    transform: rotate(180deg);
    transition: all 0.2s ease-in;
}

.svt-card {
    background-color: $serenity;
    box-shadow: -10px 10px hsla(0, 0%, 0%, 0.25);
    @extend .carat-card;

    .card-name {
        background-color: $rose-quartz;
    }
}

.svt-name {
    background-color: $rose-quartz;
    @extend .player-name;
}

.svt-img {
    // width: 62px;
    @extend .carat-img;
}

@media screen and (max-width: 375px) {
    .players-card {
        flex-direction: column;
        gap: 10px;
        transform: scale(0.8);
        h2 {
            display: none;
        }
    }

    .play-info {
        border-radius: 5px;
    }

    .carat-card {
        box-shadow: 5px 5px hsla(0, 0%, 0%, 0.25);
    }

    .player-name {
        border-radius: 0;
    }

    .card-reload-flex {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

}