.players-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-top: 30px;
}

/* CARAT Card */

.carat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    background-color: $rose-quartz;
    border-radius: 15px;
    border: 5px solid $black;
    box-shadow: 10px 10px hsla(0, 0%, 0%, 0.25);
}

.card-content {
    width: 258px;
    padding: 25px;
    /* generated dashed border */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='10' stroke-dasharray='3%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    background-color: $white;
}

.card-name {
    font-size: clamp(0.5rem , 2.5vw, 1rem);
    background-color: $serenity;
    text-transform: uppercase;
    border: 3px solid $black;
    border-radius: 10px;
    padding: 2px;
}

.carat-img {
    width: 62px;
    border-radius: 50%;
    border: 3px solid $black;
    margin: 10px auto;
}

.play-info {
    display: flex;
    flex-direction: column;
    background-color: $gray;
    border-radius: 10px;
    border: 3px solid $black;

}

.player-name {
    font-family: $small-font;
    font-size: clamp(0.5rem , 2.5vw, 1rem);
    text-transform: uppercase;
    background-color: $serenity;
    border-radius: 5px 5px 0 0;
    border-bottom: 3px solid $black;
    padding: 3px;
}

.monitoring {
    display: flex;
    flex-direction: row;
}

.scoreboard {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    background-color: $white;
    border-radius: 0 0 10px 0;
    .score-heading {
        font-size: clamp(0.5rem, 2.5vw, 1rem);
        padding: 5px 0 0;
    }
    .score-count {
        font-size: clamp(0.9rem, 2.5vw, 1.5rem);
    }
}

.unclicked-btn {
    border-radius: 0 0 0 15px;
}

.clicked-btn {
    box-shadow: none;
}

/* SEVENTEEN Card */

// Rename and reload button attributes

.rename, .reload {
    width: 63px;
    border-right: 3px solid $black;
}

.rename-btn {
    height: 100%;
    border: none;
    background-image: url("../images/pen-to-square-solid.svg");
    background-color: transparent;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px;
    margin: 0 auto;
}

.reload-btn {
    background-image: url("../images/arrows-rotate-solid.svg");
    @extend .rename-btn;
}

// To add using JavaScript

.reload-btn-animation {
    transform: rotate(180deg);
    transition: all 0.2s ease-in;
}

.svt-card {
    background-color: $serenity;
    box-shadow: -10px 10px hsla(0, 0%, 0%, 0.25);
    @extend .carat-card;

    .card-name {
        background-color: $rose-quartz;
    }
}

.svt-name {
    background-color: $rose-quartz;
    @extend .player-name;
}

.svt-img {
    @extend .carat-img;
}

@media screen and (max-width: 767px) {
    .players-card {
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
    }

    .carat-card {
        width: 220px;
    }

    .card-content {
        width: 180px;
        padding: 20px 15px;
    }

    .play-info {
        border-radius: 5px;
    }

    .carat-img {
        width: 40px;
    }

    .carat-card {
        box-shadow: 5px 5px hsla(0, 0%, 0%, 0.25);
    }

    .player-name {
        border-radius: 0;
    }

    .rename, .reload {
        width: 50px;
    }

    .rename-btn, .reload-btn {
        background-size: 10px;
        padding: 10px;
    }

    .scoreboard {
        padding: 2px;
        .score-count {
            padding: 5px 0;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .players-card {
        gap: 50px;
    }
}