.players-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;

    h2 {
        color: $white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        text-shadow: 0 5px hsla(0, 0%, 0%, 0.25);
    }
}

/* CARAT Card */

.card-rename-flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
}

.rename {
    border-radius: 10px;
    background-color: $white;
    border: 3px solid $black;
    box-shadow: -5px 5px hsla(0, 0%, 0%, 0.25);
}

.rename:hover {
    background-color: $rose-quartz;
}

.rename-btn {
    width: 50px;
    padding: 13px;
    border: none;
    background-color: transparent;
    transition: all 0.5s ease-in;
}

.carat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    background-color: $rose-quartz;
    border-radius: 15px;
    border: 5px solid $black;
    box-shadow: 10px 10px hsla(0, 0%, 0%, 0.25);
}

.card-content {
    width: 258px;
    padding: 25px;
    /* generated dashed border */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='10' stroke-dasharray='3%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    background-color: $white;
}

.score {
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
    align-items: center;
    // width: 200px;
    margin: 5px auto;
    background-color: $gray;
    border: 3px solid $black;
    border-radius: 20px;
    box-shadow: inset -3px 3px hsla(0, 0%, 0%, 0.25);
}

.score-number {
    font-size: clamp(0.5rem , 2.5vw, 1rem);
    margin-bottom: 0;
    width: 75px;
}

.score-label {
    @extend .score-number;
    background-color: $serenity;
    border-radius: 20px;
    border-right: 3px solid $black;
}

.carat-img {
    border-radius: 50%;
    border: 3px solid $black;
    margin: 10px auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    background-color: $gray;
    border-radius: 20px;
    border: 3px solid $black;
    box-shadow: inset 0 -5px hsla(0, 0%, 0%, 0.25);
    margin: 5px 0 0;
}

.carat-name {
    font-family: $small-font;
    font-size: clamp(0.5rem , 2.5vw, 1rem);
    text-transform: uppercase;
    background-color: $serenity;
    border-radius: 15px 15px 0 0;
    border-bottom: 3px solid $black;
    padding: 3px;
}

.play-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
}

.rock, .paper, .scissors {
    border-radius: 10px;
    border: 3px solid $black;
    box-shadow: inset 0 -5px hsla(0, 0%, 0%, 0.25);
    width: 50px;
    height: 50px;
    padding: 10px; // to remove
}

.rock {
    background-image: url("../images/hand-back-fist-solid.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.paper {
    background-image: url("../images/hand-solid.svg");
    @extend .rock;
}

.scissors {
    background-image: url("../images/hand-scissors-solid.svg");
    @extend .rock;
}

.clicked-btn {
    // border-radius: 10px;
    // border: 3px solid $black;
    box-shadow: inset 5px 5px hsla(0, 0%, 0%, 0.25);
//     width: 50px;
//     height: 50px;
    padding: 10px;
}

/* SEVENTEEN Card */

// Flex svt card and reload button

.card-reload-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

// Reload button attributes

.reload {
    border-radius: 10px;
    background-color: $white;
    border: 3px solid $black;
    box-shadow: 5px 5px hsla(0, 0%, 0%, 0.25);
}

.reload:hover {
    background-color: $serenity;
}

.reload-btn {
    width: 50px;
    padding: 13px;
    border: none;
    background-color: transparent;
    transition: all 0.5s ease-in;
}

// To add using JavaScript

.reload-btn-animation {
    transform: rotate(180deg);
    transition: all 0.5s ease-in;
}

.svt-card {
    background-color: $serenity;
    box-shadow: -10px 10px hsla(0, 0%, 0%, 0.25);
    @extend .carat-card;

    .score-label {
        background-color: $rose-quartz;
    }
}

.svt-name {
    background-color: $rose-quartz;
    @extend .carat-name;
}

.svt-img {
    width: 84px;
    @extend .carat-img;
}


@media screen and (max-width: 768px) {
    .players-card {
        flex-direction: column;
        gap: 10px;
    }

    .card-reload-flex {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}