/* Banner */
.banner {
    width: 100%;
    background-color: $rose-quartz;
    p {
        font-size: clamp(0.375rem, 2.5vw, 1.2rem);
        text-align: center;
        margin: 15px auto;
    }
}

/* Container */
.container {
    text-align: center;
    margin: 50px auto;
}

/* Header Text */
.header-text {
    h1 {
        // width: 576px;
        margin: 0 auto;
        font-size: clamp(2rem, 3vw, 3.5rem);
        text-transform: uppercase;
        color: $black;
        // -webkit-text-stroke-width: 2px;
        // -webkit-text-stroke-color: black;
        text-shadow: 0 4px hsl(0deg 0% 0% / 25%);
    }
    p {
        font-size: clamp(0.688rem , 2.5vw, 1.875rem);
        // font-weight: $bold;
        color: $white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        text-shadow: 0 3px hsl(0deg 0% 0% / 25%);
        margin: 10px 0;
    }
}

/* Result */

.result {
    display: flex;
    align-items: center;
    width: 550px;
    margin: 50px auto;
    background-color: $white;
    border-radius: 5px;
    border: 3px solid $black;
    .round-label {
        width: 150px;
        font-size: clamp(0.8rem, 2.5vw, 1.2rem);
        margin-bottom: 0;
        padding: 5px 10px;
        text-align: center;
        border-right: 3px solid $black;
        background: $gradient;
    }
    .result-text {
        width: 100%;
    }
}

/* Play Buttons */

.play-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 30px;
    border: 3px solid $black;
    border-radius: 10px;
    background: $gradient;
}

.rock, .paper, .scissors {
    border-radius: 10px;
    border: 3px solid $black;
    box-shadow: inset 0 -8px hsla(0, 0%, 0%, 0.25);
    width: 80px;
    height: 80px;
}

.rock {
    background-color: $white;
    background-image: url("../images/hand-back-fist-solid.svg");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.paper {
    background-image: url("../images/hand-solid.svg");
    @extend .rock;
}

.scissors {
    background-image: url("../images/hand-scissors-solid.svg");
    @extend .rock;
}

// To add using JavaScript

.try-again {
    display: none;
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);
    background: $gradient;
    padding: 10px 20px;
    border: 3px solid $black;
}

/* Media Query for Mobile */
@media screen and (max-width: 375px) {
    .container {
        margin: 25px auto;
        // transform: scale(0.8);
    }
    .result {
        margin: 20px auto;
        width: 85%;
        .round-label {
            width: 100px;
        }
    }
    .play-buttons {
        transform: scale(0.8);
    }
}