/* Banner */
.banner {
    width: 100%;
    background-color: $rose-quartz;
    p {
        font-size: clamp(0.375rem, 2.5vw, 1.2rem);
        text-align: center;
        margin: 15px auto;
    }
}

/* Container */
.container {
    text-align: center;
    margin: 50px auto;
}

/* Header Text */
.header-text {
    h1 {
        // width: 576px;
        margin: 0 auto;
        font-size: clamp(1.125rem, 2.5vw, 3rem);
        text-transform: uppercase;
        color: $white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        text-shadow: 0 4px hsl(0deg 0% 0% / 25%);
    }
    p {
        font-size: clamp(0.688rem , 2.5vw, 1.875rem);
        font-weight: $bold;
        color: $white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        text-shadow: 0 3px hsl(0deg 0% 0% / 25%);
        margin: 10px 0;
    }
}

/* Result */

.result {
    width: 620px;
    margin: 20px auto;
    background-color: $white;
    border-radius: 5px;
    border: 3px solid $black;
    .round-label {
        width: 25%;
        font-size: clamp(0.875rem, 2.5vw, 1.2rem);
        margin-bottom: 0;
        padding: 5px 30px;
        text-align: center;
        border-right: 3px solid $black;
        background-color: $gray;
    }
    .result-text {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

/* Play Buttons */

.play-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
}

.rock, .paper, .scissors {
    border-radius: 10px;
    border: 3px solid $black;
    box-shadow: inset 0 -5px hsla(0, 0%, 0%, 0.25);
    width: 50px;
    height: 50px;
}

.rock {
    background-image: url("../images/hand-back-fist-solid.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.paper {
    background-image: url("../images/hand-solid.svg");
    @extend .rock;
}

.scissors {
    background-image: url("../images/hand-scissors-solid.svg");
    @extend .rock;
}