/* Colors */
$light-yellow: hsl(46, 100%, 97%);
$rose-quartz: hsl(1, 74%, 88%);
$serenity: hsl(218, 40%, 69%);

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$gray: hsl(0, 18%, 93%);

/* Fonts */
$big-font: 'Press Start 2P';
$small-font: 'Changa';

/* Font Weight */
$semi-bold: 600;
$bold: 700;