/* Background Colors */
$light-yellow: hsl(46, 100%, 97%);
$rose-quartz: hsl(1, 74%, 88%);
$serenity: hsl(218, 40%, 69%);
$gradient: linear-gradient(90deg, rgba(255,220,219,1) 0%, rgba(180,200,234,1) 100%);;

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$gray: hsl(0, 18%, 93%);

/* Border */
$border: 3px solid $black;

/* Fonts */
$big-font: 'Play';
$small-font: 'Changa';

/* Font Weight */
$regular: 400;
$semi-bold: 600;
$bold: 700;